.formHolder {
    border: double bisque;
    width: border-box;
    height: auto;
    text-overflow: ellipsis;
    overflow: hidden;
}

.form{
    border: double bisque;
    display: table;
    margin: 1vw;
}

.formRow{
    display: table-row;
}

.formCell{
    display: table-cell;
    padding-bottom: 0.5vw;
}

.error {
    color: #ff0000;
    font-weight: bold;
}

