.accountHolder{
    border: double bisque;
    width: fit-content;
    overflow: auto;
}

.account{
    border: double bisque;
    width: fit-content;
    overflow: auto;
    margin: 1vw;
}

#rankImageCanvas{
    margin-bottom: 1vw;
}

#rankInfoHolder{
    margin-bottom: 1vw;
}

#accountButtonHolder{
    margin-left: 3vw;
    margin-bottom: 3vw;
    margin-right: 3vw;
}

#rankLoginProgressContainer{
    float: right;
    display: grid;
}

#statisticHolder{
    display: table;
    overflow: auto;
}

.accountButton{
    color: aliceblue;
    border: 0.3vw aliceblue;
    width: 10vw;
    font-size: 1.35vw;
    background-color: forestgreen;
}

.progress-bar{
    position: relative;
    width:400px;
    height: 3em;
    background-color: #111;
    border-radius: 1.5em;
    color:aliceblue;
}

.progress-bar::before{
    content: attr(data-label);
    display: flex;
    align-items: center;
    position: absolute;
    left: 0.5em;
    top: 0.5em;
    bottom: 0.5em;
    width: calc(var(--width, 0) * 1%);
    min-width: 2rem;
    max-width: calc(100% - 1em);
    background-color: forestgreen;
    border-radius: 1em;
    padding: 1em;
}