.header{
    font: 2vw Arial, sans-serif;
    padding-bottom: 3vh;
}

.centeredText{
    text-align: center;
}

.standardBrightFontColor{
    color:seashell;
}

.standardDarkFontColor{
    color: black;
}

.standardTextFont{
    font: 1vw Arial, sans-serif;
}

.bigTextFont{
    font: 1.35vw Arial, sans-serif;
}

.seaBackground{
    background-image: url("http://i.piccy.info/i9/62703d00de7929b9e30f0945947950a4/1604074336/139520/1403093/SeaWallpaper3_800.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.stoneBackground{
    background-image: url('https://cdn1.savepice.ru/uploads/2020/12/28/11a620a7ac1e1dfabc420d7c04d3dfc3-full.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.sandBackground{
    background-image: url("http://i.piccy.info/i9/052b0c5f1357e21d99c528052c8a05b4/1604181267/104558/1403093/sandBackground_800.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.centerElementWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

.standardButton{
    font-size: 1.35vw;
    border: 0.1vw black solid;
    background: transparent;
}


