.contentHolder{
    border: double bisque;
    width: auto;
    margin: auto;
    display: table;
    overflow: auto;
}

.contentContainerRow{
    width: 100%;
    float: top;
    box-sizing: border-box;
}

.contentContainer{
    width: 16vw;
    height: 16vw;
    margin: 1vw;
    float: left;
    border: double bisque;

    text-overflow: ellipsis;
    overflow: hidden;
    color: black;
}

.containerAvatar{
    width: 8vw;
    height: 8vw;
    padding: 0.5vw;
}


